.container{
    background-image: url(../../img/backgroundog.jpg);
}

input{
    border: none;
    height: 40px;
    width: 500px;
    border: 1px solid #C0A9BD;
}

.buttonSearch{
    background-color: #C0A9BD;
    color: white;
    border: none;
    padding: 15px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;

}
/* MEDIA QUERIES */
@media (max-width:480px) {
    input{
        width: 50%;
    }
}